{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titolo %}
    {{ block.super }} - password change
{% endblock titolo %}
{% block contenuti %}
<div class="row justify-content-center mt-4">
    <div class="col-4 text-center">
        <p>Inserisci la password attuale, per ragioni di sicurezza, e poi la nuova password due volte, per verificare di averla scritta correttamente!</p>
        <form class="" method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Cambia Password">
        </form>
    </div>
</div>
{% endblock contenuti %}
