{% extends 'base.html' %}
{% block titolo %}
    {{ block.super }} - password reset email
{% endblock titolo %}
{% block contenuti %}
<div class="row justify-content-center mt-4">
    <div class="col-4 text-center">
        Qualcuno ha richiesto un password reset per l'account associato alla mail {{ email }}.
        Se non hai richiesto alcun cambio password puoi ignorare questa mail.
        Segui il link qua sotto se invece desideri procedere:
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </div>
</div>
{% endblock contenuti %}
