{% extends 'base.html'%}
{%block titolo%}
	{{block.super}} | IF
{%endblock titolo%}
{%block contenuti%}

<b>var1 = {{ var1 }}</b> <br/>
<b>var2 = {{ var2 }}</b> <br/>
<b>var3 = {{ var3 }}</b> <br/>


{% if var1 < var2 %}
	<p><i>var1 is smaller than var2 </i></p>
{% endif %}

	
{% if var1 > var2 %}
	<p><i>var1 is greater than var2 </i></p>
{% endif %}

	
{% if var1 <= var2 %}
	<p><i>var1 is less than or equal to var2 </i></p>
{% endif %}


{% if var1 >= var2 %}
	<p><i>var1 is greater than or equal to var2 </i></p>
{% endif %}


{% if var1 == var2 %}
	<p><i>var1 is equal to var2 </i></p>
{% endif %}
	
	
{% if var1 != var2 %}
	<p><i>var1 is not equal to var2 </i></p>
{% endif %}


{% if var1 < var2 and var1 < var3 %}
	<p><i>var1 is less than var2 and var1 is less than var3 </i></p>
{% endif %}


{% if var1 < var2 or var3 < var2 %}
	<p><i>var1 is less than var2 or var3 is less than var2 </i></p>
{% endif %}


{% if not var1 > var2 %}
	<p><i>var1 is less than var2 </i></p>
{% endif %}
{%endblock contenuti%}